@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  @include flexBoxParent(row, space-between);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  width: 100%;
  height: $header-height;
  background: $color-white;
  align-items: center;
}

.headerLogo {
  margin: 0;
  padding: 0.25rem;
  border: $standard-border;
  transform: translate(2px, -2px);
  background: $color-brand;
  color: $color-black;
  font-family: $font-family-main;
  font-weight: $font-weight-bold;
  font-size: $font-size-logo;
  box-shadow: -2px 2px $color-black;
  transition: transform 0.1s, box-shadow 0.1s;

  &:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 $color-black;
  }
}
