@import 'variables';

@mixin flexBoxParent($direction, $justify) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: $justify;
}

@mixin colorBoxes($amount) {
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      background: nth($color-buttons, $i);
    }
  }
}

@mixin buttonStandard() {
  border: $standard-border;
  border-radius: $standard-border-radius;
  transform: translate(2px, -2px);
  box-shadow: -2px 2px $color-black;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: translate(4px, -4px);
    box-shadow: -4px 4px;
    outline: none;
  }
}

@mixin mediaTablet {
  @media (min-width: #{$width-tablet}) and (max-width: #{$width-desktop - 1px}) {
    @content;
  }
}

@mixin mediaDesktop {
  @media (min-width: #{$width-desktop}) {
    @content;
  }
}
