@import '../../styles/mixins';

.button {
  border: $standard-border;
  border-radius: $standard-border-radius;
  transform: translate(2px, -2px);
  box-shadow: -2px 2px $color-black;
  transition: all 0.3s ease;

  &:hover {
    transform: translate(4px, -4px);
    box-shadow: -4px 4px;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.buttonActive {
    transform: translate(0, 0);
    box-shadow: 0 0;
    filter: brightness(75%);
  }
}
